<!DOCTYPE html>
<html>
    <%- include("../partials/head"); %>
    <body>
        <%- include("../partials/navbar"); %>
        <div class="card">
            <h2 class="card-header">Welcome to Shorties, the short url service!</h2>
        </div>
    </body>
</html>